<div class="container">
  <mat-toolbar>
    <span>Schedule an Interview</span>
  </mat-toolbar>

  <form class="schedule-form" [formGroup]="interviewForm" (ngSubmit)="scheduleInterview()">
    <div class="form-group">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="time" formControlName="time" placeholder="Choose a time" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="interviewForm.invalid" class="schedule-button">
      Schedule Interview
    </button>
  </form>

  <div class="scheduled-interviews">
    <h3>Scheduled Interviews</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="candidate">
        <th mat-header-cell *matHeaderCellDef> Candidate </th>
        <td mat-cell *matCellDef="let interview"> {{ interview.candidate?.fullName || 'Unknown Candidate' }} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let interview"> {{ interview.scheduledDate | date: 'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let interview">
          <button mat-icon-button color="primary" (click)="joinVideoCall(interview)">
            <mat-icon>video_call</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
