<div class="bg-white" *ngIf="!isLoading">
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900">Candidates</h1>
    </div>
    <section aria-labelledby="products-heading" class="pb-24 pt-6">
      <h2 id="products-heading" class="sr-only">Candidates</h2>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <form class="hidden lg:block">
          <div class="border-b border-gray-200 py-6">
            <h3 class="-my-3 flow-root">
              <button type="button" class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
                <span class="font-medium text-gray-900">Skills</span>
                <span class="ml-6 flex items-center">
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                  </svg>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
            </h3>
            <div class="pt-6" id="filter-section-0">
              <div class="space-y-4">
                <div class="flex items-center">
                  <input id="filter-skill-0" name="skill[]" value="Programming" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-skill-0" class="ml-3 text-sm text-gray-600">Programming</label>
                </div>
                <div class="flex items-center">
                  <input id="filter-skill-1" name="skill[]" value="Design" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-skill-1" class="ml-3 text-sm text-gray-600">Design</label>
                </div>
                <div class="flex items-center">
                  <input id="filter-skill-2" name="skill[]" value="Management" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-skill-2" class="ml-3 text-sm text-gray-600">Management</label>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="lg:col-span-3">
          <div class="overflow-auto">
            <div class="m-2">
              <mat-tab-group>
                <mat-tab label="Waiting">
                  <div class="profiles-container">
                    <ng-container *ngIf="waitingCandidates.length > 0; else noWaitingCandidates">
                      <div *ngFor="let candidate of waitingCandidates" class="relative bg-white shadow rounded-lg p-6 mb-4 ">
                        <div class="absolute top-4 right-4">
                          <button mat-raised-button class="matching-button" (click)="showMatchingSkills(candidate)">Matching Skills</button>
                        </div>
                        <div class="flex items-center mb-4">
                          <div class="w-16 h-16 rounded-full bg-gray-200" [style.background-image]="'url(' + candidate.profilePicture + ')'"></div>
                          <div class="ml-4">
                            <h3 class="text-xl font-bold text-gray-900">{{ candidate.fullName }}</h3>
                            <p class="text-sm text-gray-600">{{ candidate.email }}</p>
                            <p class="text-sm text-gray-600">Status: {{ candidate.status }}</p>
                          </div>
                        </div>
                        <div class="flex justify-end space-x-4">
                          <button mat-raised-button class="bg-orange-500 text-white hover:bg-orange-600" (click)="viewProfile(candidate)">View Profile</button>
                          <button mat-icon-button class="bg-green-500 text-white hover:bg-green-600" (click)="acceptCandidate(candidate)"><mat-icon>check</mat-icon></button>
                          <button mat-icon-button class="bg-red-500 text-white hover:bg-red-600" (click)="refuseCandidate(candidate)"><mat-icon>clear</mat-icon></button>
                        </div>
                        <div *ngIf="loading === candidate" class="loader-overlay">
                          <mat-spinner diameter="50"></mat-spinner>
                        </div>
                        <div [@expandCollapse]="candidate.showMatchingSkills ? 'expanded' : 'collapsed'" class="expanded-content mt-4 p-4 bg-gray-200 rounded-lg">
                          <div class="flex justify-between">
                            <div>
                              <h3 class="text-lg font-bold flex items-center"><i class="fas fa-tools mr-2"></i>Matched skills</h3>
                              <div class="flex flex-wrap gap-2">
                                <span class="bg-blue-200 text-orange-600 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded" *ngFor="let skill of candidate.requiredSkills">{{ skill }}</span>
                              </div>
                            </div>
                            <div class="score">
                              <h3 class="text-lg font-bold flex items-center"><i class="fas fa-chart-line mr-2"></i>Match Score</h3>
                              <div class="text-xl font-bold text-orange-600">{{ getMatchScore(candidate.requiredSkills) }} %</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #noWaitingCandidates>
                      <p class="placeholder-text">No waiting candidates.</p>
                    </ng-template>
                  </div>
                </mat-tab>

                <mat-tab label="Accepted">
                  <div class="profiles-container">
                    <ng-container *ngIf="acceptedCandidates.length > 0; else noAcceptedCandidates">
                      <div *ngFor="let candidate of acceptedCandidates" class="relative bg-white shadow rounded-lg p-6 mb-4 ">
                        <div class="flex items-center mb-4">
                          <div class="w-16 h-16 rounded-full bg-gray-200" [style.background-image]="'url(' + candidate.profilePicture + ')'"></div>
                          <div class="ml-4">
                            <h3 class="text-xl font-bold text-gray-900">{{ candidate.fullName }}</h3>
                            <p class="text-sm text-gray-600">{{ candidate.email }}</p>
                            <p class="text-sm text-gray-600">Status: {{ candidate.status }}</p>
                          </div>
                        </div>
                        <div class="flex justify-end space-x-4">
                          <button mat-raised-button class="bg-orange-500 text-white hover:bg-orange-600" (click)="viewProfile(candidate)">View Profile</button>
                          <button mat-raised-button class="bg-gray-900 text-white hover:bg-gray-800" (click)="planInterview(candidate)">Plan Interview</button>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #noAcceptedCandidates>
                      <p class="placeholder-text">No accepted candidates.</p>
                    </ng-template>
                  </div>
                </mat-tab>

                <mat-tab label="Refused">
                  <div class="profiles-container">
                    <ng-container *ngIf="refusedCandidates.length > 0; else noRefusedCandidates">
                      <div *ngFor="let candidate of refusedCandidates" class="relative bg-white shadow rounded-lg p-6 mb-4 ">
                        <div class="flex items-center mb-4">
                          <div class="w-16 h-16 rounded-full bg-gray-200" [style.background-image]="'url(' + candidate.profilePicture + ')'"></div>
                          <div class="ml-4">
                            <h3 class="text-xl font-bold text-gray-900">{{ candidate.fullName }}</h3>
                            <p class="text-sm text-gray-600">{{ candidate.email }}</p>
                            <p class="text-sm text-gray-600">Status: {{ candidate.status }}</p>
                          </div>
                        </div>
                        <div class="flex justify-end space-x-4">
                          <button mat-raised-button class="bg-orange-500 text-white hover:bg-orange-600" (click)="viewProfile(candidate)">View Profile</button>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #noRefusedCandidates>
                      <p class="placeholder-text">No refused candidates.</p>
                    </ng-template>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <mat-paginator [length]="totalCandidates" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange()" aria-label="Job offers paginator"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
