<h2 mat-dialog-title>Modify Job Offer</h2>
<div mat-dialog-content>
  <!-- Job Offer Form -->
  <form #jobOfferForm="ngForm" (ngSubmit)="submitModifiedJobOffer(jobOfferForm.value)">
    <!-- Job Title -->
    <mat-form-field appearance="fill">
      <mat-label>Job Title</mat-label>
      <input matInput name="jobTitle" ngModel required [value]="selectedJobOffer.title">
    </mat-form-field>

    <!-- Job Description -->
    <mat-form-field appearance="fill">
      <mat-label>Job Description</mat-label>
      <textarea matInput name="jobDescription" ngModel required [value]="selectedJobOffer.shortDescription"></textarea>
    </mat-form-field>

    <!-- Salary -->
    <mat-form-field appearance="fill">
      <mat-label>Salary</mat-label>
      <input matInput name="salary" ngModel type="number" required [value]="selectedJobOffer.salary">
    </mat-form-field>

    <!-- Location -->
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput name="location" ngModel [value]="selectedJobOffer.location">
    </mat-form-field>

    <!-- Company Name -->
    <mat-form-field appearance="fill">
      <mat-label>Company Name</mat-label>
      <input matInput name="companyName" ngModel [value]="selectedJobOffer.companyName">
    </mat-form-field>

    <!-- Employment Type -->
    <mat-form-field appearance="fill">
      <mat-label>Employment Type</mat-label>
      <mat-select name="employmentType" ngModel [value]="selectedJobOffer.employmentType">
        <mat-option value="fullTime">Full Time</mat-option>
        <mat-option value="partTime">Part Time</mat-option>
        <mat-option value="contract">Contract</mat-option>
        <mat-option value="freelance">Freelance</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Required Skills -->
    <div class="skills-container">
      <p class="skills-label">Required Skills:</p>
      <div *ngFor="let skill of selectedJobOffer.requiredSkills" class="checkbox-container">
        <mat-checkbox [(ngModel)]="selectedSkills[skill]" [value]="skill" name="requiredSkills">{{ skill }}</mat-checkbox>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button type="submit" [disabled]="!jobOfferForm.valid">Save Changes</button>
</div>
