<h2 mat-dialog-title>Modify Job Offer</h2>
<div mat-dialog-content>
  <form #jobOfferForm="ngForm" (ngSubmit)="submitModifiedJobOffer()">
    <mat-form-field appearance="fill">
      <mat-label>Job Title</mat-label>
      <input matInput name="title" [(ngModel)]="selectedJobOffer.title" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Job Description</mat-label>
      <textarea matInput name="description" [(ngModel)]="selectedJobOffer.description" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Salary</mat-label>
      <input matInput name="salary" [(ngModel)]="selectedJobOffer.salary" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput name="city" [(ngModel)]="selectedJobOffer.city">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Employment Type</mat-label>
      <mat-select name="contractType" [(ngModel)]="selectedJobOffer.contractType">
        <mat-option value="CDI">CDI</mat-option>
        <mat-option value="CDD">CDD</mat-option>
        <mat-option value="Contract">Contract</mat-option>
        <mat-option value="Full-Time">Full-Time</mat-option>
        <mat-option value="Part-Time">Part-Time</mat-option>
        <mat-option value="Freelance">Freelance</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="skills-container">
      <p class="skills-label">Required Skills:</p>
      <div *ngFor="let skill of selectedJobOffer.requiredSkills" class="checkbox-container">
        <mat-checkbox [(ngModel)]="skill.selected" name="requiredSkills" [value]="skill">{{ skill }}</mat-checkbox>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="submitModifiedJobOffer()" [disabled]="!jobOfferForm.valid">Save Changes</button>
</div>
